<div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
  <% @tags.each do |tag| %>
    <%= render 'layouts/components/row-image', title: tag.name%>
  <% end %>
</div>

<%= link_to 'Back', root_path, class: 'w-25 btn btn-lg btn-outline-primary' %>
