<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <h3 class="mb-0"><%= title %></h3>
    <div class="mb-1 text-muted"><%= subtitle %></div>
  </div>
</div>